/* ===============================
   THEME VARIABLES
================================ */
:root {
  --bg: #020617;
  --text: #111827;
  --card: #ffffff;
  --border: #e5e7eb;
  --primary: #4f46e5;
  --accent: #22c55e;
  --muted: #6b7280;

  --shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

[data-theme="dark"] {
  --bg: #0b1220;
  --text: #e5e7eb;
  --card: #111827;
  --border: #1f2937;
  --primary: #818cf8;
  --accent: #22c55e;
  --muted: #9ca3af;

  --shadow: 0 12px 30px rgba(0,0,0,0.6);
}


body {
  font-family: Roboto, Arial;
  background: var(--bg);
  color: var(--text);
  margin: 0;
  transition: background 0.3s ease, color 0.3s ease;
}

/* <p> elements have a default margin on the top
   and bottom. This removes the default margins. */
p {
  margin: 0;
}

button {
  cursor: pointer;
}

select {
  cursor: pointer;
}

input,
select,
button {
  font-family: Roboto, Arial;
}

.button-primary {
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.button-primary:hover {
  filter: brightness(1.1);
}

* {
  transition: background-color 0.25s ease, color 0.25s ease,
    border-color 0.25s ease;
}

.button-secondary {
  color: rgb(33, 33, 33);
  background: white;
  border: 1px solid rgb(213, 217, 217);
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

.button-secondary:hover {
  background-color: rgb(247, 250, 250);
}

.button-secondary:active {
  background-color: rgb(237, 253, 255);
  box-shadow: none;
}

/* These styles will limit text to 2 lines. Anything
   beyond 2 lines will be replaced with "..."
   You can find this code by using an A.I. tool or by
   searching in Google.
   https://css-tricks.com/almanac/properties/l/line-clamp/ */
.limit-text-to-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.link-primary {
  color: rgb(1, 124, 182);
  cursor: pointer;
}

.link-primary:hover {
  color: rgb(196, 80, 0);
}

/* Styles for dropdown selectors. */
select {
  color: rgb(33, 33, 33);
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(213, 217, 217);
  border-radius: 8px;
  padding: 3px 5px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

select:focus,
input:focus {
  outline: 2px solid rgb(255, 153, 0);
}

html, body {
  overflow-x: hidden;
}
